ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2e3532;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
li{
    float: right;
}
li a {
    display:block;
    color:#e0e2db;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
li a:hover:not(.active){
    background-color:#444a47;
}
.navLeft{
    float:left;
    padding:10px 25px;
}
img{
    display:inline-block;
}