/*
@media only screen and (max-width:1024px){
    p{
        font-size: .75em;
    }
    .navigation{
        
    }
}
*/

body{
    background-color:#e0e2db;
    font-family:Karma;
    color:#2e3532;
}

/*Navbar Related*/
.pgContent{
    padding:20px;
    margin-top:30px;
    height:500px;
}
.navigation{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2e3532;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.navbar{
    float: right;
}
.navbar a {
    display:block;
    color:#d2d4c8;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navLeft{
    float:left;
    padding:10px 25px;
}
.navCurPg{
    background-color:#8b2635;
    color:#e0e2db;
}
.notCurPg:hover{
    background-image:linear-gradient(to top, #232726, #2e3532);
}
/*Text Related*/
h1{
    text-align:center;
    font-family:'Cormorant Garamond';
}
h2{
    font-family:'Overpass';
    font-weight:400;
    font-style:italic;
}
table{
    border-collapse:collapse;
}
th,td{
    border:1px solid black;
    width:33%;
}

/*Image Related*/
img{
    display:inline-block;
}
.webImg{
    display:inline-block;
    margin:10px;
}
.fltLeft{
    float:left;
}
.fltRight{
    float:right;
}